/*
####### SELECTORES #######
*/

/*Selector universal*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Selector de etiqueta*/
h1{
    background: red;
    color: white;
    padding: 10px;
}

a{
    font-size: 18px;
    color: green;
    text-decoration: none;
}

footer a{
    color: orange;
}
/*Selector de id*/
#descripcion{
    border: 2px solid black;
    padding: 15px;
}

/*Selector de clase*/

/*Selector de atributo*/
